@font-face {
    font-family: "Circe";
    src: url("fonts/Circe.eot");
    src: url("fonts/Circe.eot?#iefix")format("embedded-opentype"),
    url("fonts/Circe.woff") format("woff"),
    url("fonts/Circe.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Circe-Bold";
    src: url("fonts/Circe-Bold.eot");
    src: url("fonts/Circe-Bold.eot?#iefix")format("embedded-opentype"),
    url("fonts/Circe-Bold.woff") format("woff"),
    url("fonts/Circe-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Circe-ExtraLight";
    src: url("fonts/Circe-ExtraLight.eot");
    src: url("fonts/Circe-ExtraLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/Circe-ExtraLight.woff") format("woff"),
    url("fonts/Circe-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("fonts/Circe-ExtraBold.eot");
    src: url("fonts/Circe-ExtraBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/Circe-ExtraBold.woff") format("woff"),
    url("fonts/Circe-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Circe-Light";
    src: url("fonts/Circe-Light.eot");
    src: url("fonts/Circe-Light.eot?#iefix")format("embedded-opentype"),
    url("fonts/Circe-Light.woff") format("woff"),
    url("fonts/Circe-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@mixin Sans($weight, $size) {
	font-family: 'Open Sans', sans-serif;
	font-weight: $weight;
	font-size: $size;
}
@mixin Marck($size) {
	font-family: 'Marck Script', cursive;
	// font-weight: 400;
	font-size: $size;
}
@mixin Roboto ($weight, $size) {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: $weight;
	font-size: $size;
}
@mixin Lobster ($weight, $size) {
	font-family: 'Lobster', cursive;
	font-weight: $weight;
	font-size: $size;
}

