// colors

$a-1: #38445e;
$a-2: #49617c;
$a-3: #434e6c;
$a-4: #373f55;
$a-5: #a3cd8c;
$a-6: #95bea7;
$a-7: #7da3d7;
$a-8: #a3cd8c;
$a-9: #7da3ce;
$a-10: #596c85;
$a-11: white;
$a-12: #9ea2ae;
$a-13: #eb5a63;
$a-14: #f4f7fb;
//7da3d7

//size

$sz-content: 900px;
$medium-screens: 800px;